---
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
  firstName: "Mani",
  country: "Iran",
  occupation: "Front-End Programmer",
  hobbies: ["chess", "games"],
};

const skillProps = {
    color: "navy",
    fontWeight: "bold",
    textCase: "uppercase",
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Svelte", "Tailwind", "Astro"];

const finished = false;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>My Astro Site</h1>
        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>
      
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

        {identity.hobbies.length > 1 ?
            <p>My hobbies are:</p>
            <ul>
                {identity.hobbies.map(hobby => <li>{hobby}</li>)}
            </ul>
            :
            <p>I have no hobbies lol.</p>
        } 
        {skills.length > 0 && 
            <p>My skills are:</p>
            <ul>
                {skills.map((skill, i) => <li class="skill">{skill}</li>)}
            </ul>
        } 

        {finished && "I finished this tutorial!"}
    </body>
    <style define:vars={{"skill-color": skillProps.color, "skill-font-weight": skillProps.fontWeight, "skill-text-case": skillProps.textCase}}>
        h1 {
            color: purple;
            font-size: 4rem;
        }
        .skill {
            color: var(--skill-color);
            font-weight: var(--skill-font-weight);
            text-transform: var(--skill-text-case);
        }
    </style>
</html>
